@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* General Styles */
body {
    font-family: "Work Sans", serif;
  /* font-weight: bold; */
    /* background-color: #fff5f5; Soft white with a red tint */
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
/* Card Container */
.card {
    margin: auto;
    margin-top: 100px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 500px;
    text-align: center;
    height: max-content;
    animation: fadeIn 0.5s ease-in-out;
}
#exit{
    border: 2px solid #E5E5E5;
}

/* Title */
.aero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
/* Title */
.card h2 {
    color: #4A5BE6; /* Dark Red */
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 140px;
}
/* Form Groups */
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    font-weight: bold;
    color: #122ae2;
}

.form-group p {
    background: #e9ebf8;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    font-size: 16px;
    margin: 8px 0;
}

/* Button Container */
.button-container {
    margin-top: 20px;
}


.slots-container {
    display: flex;
    
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.slot-item {
    background: #4A5BE6;
    color: white;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
    display: inline-block;
    margin: 2px;
    transition: transform 0.2s ease;
    width: 136px;
  text-align: center;
}

.slot-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Cancel Button */
.button-container a {
    display: inline-block;
    background: #122ae2;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.button-container a:hover {
    background: #41C2CB;
    transform: scale(1.05);
}

/* Fade-in Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@media (max-width: 622px) {
    .card{
        margin-top: 45px;
    }
}