@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
*{
    padding: 0;
    margin: 0;
}
body {
  font-family: "Work Sans", serif;
  font-weight: bold;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(241, 240, 240);
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid #d3d2d2;
}
.left {
  width: 60%;
  background-color: white;
  border: 1px solid #d3d2d2;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.ul-box {
  margin: auto;
  display: flex;
  gap: 2rem;
}
.ul-box li {
  list-style-type: none;
}
.left .ul-box li a {
  font-size: 1.1rem;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}
.left .ul-box li a:hover {
  color: rgb(211, 43, 43);
  transform: scale(1.1);
}
.right .btn {
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(219, 39, 39);
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.right .btn:hover {
  color: white;
  background-color: crimson;
  transform: scale(1.05);
}
.right .btn div i {
  color: white;
  /* margin-left: 5px; */
}
